@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20%;
}

h1 {
  font-family: 'Chakra Petch', sans-serif;
}


